*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    min-height: 200vh;
    position: relative;
    width: 100%;
    background: url(img/chunk.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
    color: white;
}

header.topNavbar {
    padding: 5px 100px;
    background: black;
}

header ul {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-weight: bold;
}

header ul li a:hover {
    color: pink;
    transition: color 0.3s ease;
}

/* TOP NAVBAR CONTAINS THE NUMBER ETC, CONTACT ETC */

.top-navbar.sticky {
    padding: 5px 100px;
    background: black;
}

.top-navbar{
    top: 0px;
    bottom: 0px;
    position: sticky;
    background: plum;
    padding: 10px 100px;
    font-size: 13px;
    transition: 0.6s;
}
.top-navbar-contacts{
    text-align: left;
    margin-left: 100px;
}

.top-navbar-misc{
    text-align: right;
    margin-right: 100px;
}

/* MID NAVBAR CONTAINS LOGO ETC */

.mid-navbar.sticky {
    padding: 5px 100px;
    background: black;
}

.mid-navbar{
    top: 35px;
    position: sticky;
    background: white;
    padding: 20px 100px;
    transition: 0.6s;
}

.mid-navbar-midtext{
    margin-right: 300px;
    text-align: left;
    color: #333
}

/* BOT NAVBAR CONTAINS THE OTHER PAGES ETC. */

.bot-navbar.sticky {
    padding: 5px 100px;
    background: black;
}

.bot-navbar{
    top: 112px;
    bottom: 0;
    position: sticky;
    max-width: auto;
    background: plum;
    padding: 10px 100px;
    font-size: 15px;
    transition: 0.6s;
    
}

.bot-navbar-pages{
    margin-left: 100px;
}

.bot-navbar-pages li a{
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

.bot-navbar li a:hover{
    color: #333;
}

.colorful-text{
    font-weight: bold;
    font-size: 50px
}

.position-box{
    position: relative;
    height: 500px;
    width: 40%;
    background-image: url(img/chunku.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: 60px;
    box-sizing: border-box;
    right: 120px;
}

.description-box{
    float: left;
    width: 43%;
    height: 265px;
    box-sizing: border-box;
    margin-top: 175px;
    margin-left: 70px;
    background-color: rgba(93, 55, 230, 0.1);
    color: black;
    padding: 20px;
}

.description-box p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25.5px;
    justify-content: center;
    text-align: justify;
    margin: 20px 20px;
    font-weight: bold;
    color: rgba(11, 168, 216, 0.555);
}

.description-box button{
    margin-top: 20px;
    margin-right: 15.6px;
    position: relative;
    float: right;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: palevioletred;
    color: paleturquoise;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 17px;
}

.description-box button:hover{
    background-color: cornflowerblue;
    color: palevioletred;
    transition: background-color 0.3s;
}

#main-footer{
    background: #333;
    color: plum;
    text-align: center;
    padding: 20px;
    margin-top: 1400px;
}
